<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576488436102-38095isdb00giaafbnf98i8v4gp3urtb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576488436102-38095isdb00giaafbnf98i8v4gp3urtb</string>
	<key>API_KEY</key>
	<string>AIzaSyDumQMGg5cUPQ3RvKRDGyVCuamAa8rgJ3A</string>
	<key>GCM_SENDER_ID</key>
	<string>576488436102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>sunhack-7fc16</string>
	<key>STORAGE_BUCKET</key>
	<string>sunhack-7fc16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576488436102:ios:4786be01f35d067356bc07</string>
</dict>
</plist>